.diesel-pic {
  position: relative;
  top: 230px;
  left: 10%;
  width: 80%;
  box-shadow: 5px 5px 2.5px grey;
}
.footbar-diesel {
  position: relative;
  top: 400px;
}
.diesel-words {
  display: flex;
  position: relative;
  width: 80%;
  height: 100px;
  top: 300px;
  left: 10%;
}
.diesel-words h1 {
  flex: 0.8;
  margin-left: 200px;
  font-size: 72px;
  bottom: 150px;
  right: 25px;
  position: relative;
  font-family: Georgia, serif;
}
.diesel-words p {
  flex: .90;
  font-size: 25px;
  font-family: Georgia, serif;
  position: relative;
  bottom: 25px;
}
