.fab-pic-holder {
  position: relative;
  width: 80%;
  height: 500px;
  left: 10%;
}
.fabrication-pic-1 {
  position: absolute;
  height: 300px;
  width: 34%;
  top: 200px;
}
.fabrication-pic-2 {
  position: absolute;
  left: 355px;
  top: 200px;
  width: 34%;
  height: 300px;
}
.fabrication-pic-3 {
  position: absolute;
  top: 200px;
  left: 710px;
  height: 300px;
  width: 28%;;
}
.fabrication-pic-4 {
  position: absolute;
  top: 505px;
  width: 49%;
  height: 300px;
}
.fabrication-pic-5 {
  position: absolute;
  width: 48%;
  height: 300px;
  top: 505px;
  left: 505px;
}

.footbar-fabrication {
  position: relative;
  top: 600px;
}
.fabrication-words {
  display: flex;
  position: absolute;
  width: 80%;
  height: 100px;
  top: 590px;
  left: 10%;
}
.fabrication-words h1 {
  flex: .70;
  margin-left: 200px;
  font-size: 72px;
  top: 150px;
  right: 50px;
  position: absolute;
  font-family: Georgia, serif;
}
.fabrication-words p {
  flex: .90;
  position: absolute;
  top: 300px;
  font-size: 25px;
  font-family: Georgia, serif;
}
