.megatron {
    position: relative;
    top: 10%;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: -100;
}
.services {
  position: relative;
  top: 0px;
  width: 90%;
  left: 3%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
}
.service-div {
  position: relative;
  text-align: center;
  width: 350px;
  height: 400px;
  float: left;
  margin: 2px;
  margin-bottom: 80px;
  margin-top: 10px;
}
.service-div h1 {
  font-size: 34px;
  border-bottom: 2px solid black;
  font-family: Georgia, serif;
}
.service-div img {
  width: 350px;
  height: 250px;
  box-shadow: 5px 5px 2.5px grey;
}
.service-div p {
  font-size: 22px;
  font-family: Georgia, serif;
}
.footbar-home {
  position: relative;
  top: 100px;
}
@media (max-width: 1615px) {
  .footbar-home {
    position: relative;
    top: 650px;
  }
}
@media (max-width: 822px) {
  .footbar-home {
    position: relative;
    top: 1550px;
  }
}
