<div class="footer">
    <p class="dealer">Black Diamond Welding & Diesel is a proud dealer for:</p>
    <div class="companies">
        <img src="http://static.wixstatic.com/media/a7baa6_882231bfeba1492080c46cc2e350e51d.png_srz_p_182_55_75_22_0.50_1.20_0.00_png_srz"/>
        <img src="http://static.wixstatic.com/media/a7baa6_c56b716fff9e4e10a7faec832d125f6c.gif"/>
        <img src="http://static.wixstatic.com/media/a7baa6_dc0bac68e142497ead5b57ca2bcdcc12.png_srz_p_146_57_75_22_0.50_1.20_0.00_png_srz"/>
    </div>
    <p class="call">Call Us At:</p>
    <div class="footer-number">(435) 832-3655</div>
    <div class="contactus-bar">Contact Us.</div>
    <form class="footer-form">
        <input class="name-input" type="text" placeholder="Name"></input>
        <input class="email-input" type="text" placeholder="Email"></input>
        <input class="questions-input" type="text" placeholder="Questions/ Comments"></input>
        <input class="footer-send" type="submit" value="Send"></input>
    </form>
    <div class="social-bar-footer">
        <img class="flex-one icon-size" src="/app/images/facebook.png"/>
        <img class="flex-one icon-size" src="/app/images/google.png"/>
        <img class="flex-one icon-size" src="/app/images/linkedin.png"/>
    </div>
    <div class="contact-footer">
        <div>© 2015 Black Diamond Welding & Diesel.</div>
        <div>1314 South 2300 West Roosevelt, UT 84066</div>
        <div>blackdiamondwd@gmail.com</div>
    </div>
</div>
