<navbar></navbar>
<div class="fab-pic-holder">
<img class="fabrication-pic-1" src="http://static.wixstatic.com/media/a7baa6_d2110dad83de4653bc81b55c9b89d73e.jpg_srz_p_380_287_75_22_0.50_1.20_0.00_jpg_srz"/>
<img class="fabrication-pic-2" src="http://static.wixstatic.com/media/a7baa6_a5d2faeb198a492ebfd328c5923d5c95.jpg_srz_p_382_287_75_22_0.50_1.20_0.00_jpg_srz"/>
<img class="fabrication-pic-3" src="http://static.wixstatic.com/media/a7baa6_e4c3bea7d9cb4fddaed4a0e874a9b97e.jpg_srz_p_211_287_75_22_0.50_1.20_0.00_jpg_srz"/>
<img class="fabrication-pic-4" src="http://static.wixstatic.com/media/a7baa6_b88e3eeb3b65477781ea7c27fa58946a.jpg_srz_p_503_278_75_22_0.50_1.20_0.00_jpg_srz"/>
<img class="fabrication-pic-5" src="http://static.wixstatic.com/media/a7baa6_bb6f3d7db2f543b7bfff42fdc1ad6891.jpg_srz_p_475_278_75_22_0.50_1.20_0.00_jpg_srz"/>
</div>
<div class="fabrication-words">
  <h1>Fabrication</h1>
  <p>We offer complete Welding and Fabrication to our customers preference. Let us take care of the job. We provide custom Fabrication, Repair, and Manufacturing for your oilfield equipment.</p>
</div>

<footbar class="footbar-fabrication"></footbar>
