<navbar></navbar>
  <h5 class="forsale-name">Peterbilt 367 Cab Chassis</h5>
  <img class="forsale-pic" src="app/images/forsale.png"/>
  <div class="forsale-specs">
      <div class="forsale-price">
        <h6>Price</h6>
        <ul>
          <li>Call for Price</li>
        </ul>
      </div>
      <div class="forsale-specifications">
        <h6>Specifications</h6>
        <ul>
          <li>Year:</li>
          <li>Make: PETERBILT</li>
          <li>Model: 367</li>
          <li>Class: CLASS 8 (GVW 33001 - 150000)</li>
          <li>Category: Cab Chassis</li>
          <li>Engine Make:</li>
          <li>New/Used: New</li>
          <li>Color: White</li>
        </ul>
      </div>
  </div>
<footbar class="forsale-footbar"></footbar>
