<navbar></navbar>

<div class="megatron slider" slider height='800'>
  <ul class="slides">
    <li>
      <img src="app/images/truck.jpg">
    </li>
    <li>
      <img src="app/images/truck.png">
    </li>
  </ul>
</div>


<ul class="services">
  <div class="service-div">
    <h1>Hot Oil Trucks</h1>
    <img src="http://static.wixstatic.com/media/a7baa6_98a925e6ce9d4e11955224b4f42a8047.jpg_srz_p_261_155_75_22_0.50_1.20_0.00_jpg_srz"/>
    <p>Let us design and build your Hot Oil Trucks, Frac Water Heaters, Pump Trucks, Winch Trucks, Kill Trailers and any other equipment you need to operate your business!</p>
  </div>
  <div class="service-div">
    <h1>Frac Water Heaters</h1>
    <img src="http://static.wixstatic.com/media/a7baa6_e4c1490d33be432d9ded3b48f86d5f18.jpg_srz_p_250_150_75_22_0.50_1.20_0.00_jpg_srz"/>
    <p>We love a good challenge. Just tell us how you want it and our design team will take it away. We design and build frac water heater whether it is a tractor mount or for a trailer.</p>
  </div>
  <div class="service-div">
    <h1>Oilfield Manufacturing</h1>
    <img src="http://static.wixstatic.com/media/a7baa6_b88e3eeb3b65477781ea7c27fa58946a.jpg_srz_p_261_155_75_22_0.50_1.20_0.00_jpg_srz"/>
    <p>We can fabricate tanks and parts to our customers preference. Let us make what you need to operate your business.</p>
  </div>
  <div class="service-div">
    <h1>Equipment For Sale</h1>
    <img src="http://static.wixstatic.com/media/a7baa6_ca0fbd501de046ceab5b9979c874fff6.jpg_srb_p_825_619_75_22_0.50_1.20_0.00_jpg_srb"/>
    <p>Peterbilt 367 Cab Chassis<br/>Make: PETERBILT<br/>Model: 367<br/> Class: CLASS 8<br/>Category: Cab Chassis</p>
  </div>
</ul>

<footbar class="home-footer"></footbar>
